<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Task_AdvancedCommentManagement::task" title="Task"
             module="Task_AdvancedCommentManagement" resource="Task_AdvancedCommentManagement::task"
             translate="title" sortOrder="900" action="comment"/>
    </menu>
</config>
