<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="task_items_grid_data_source" xsi:type="string">Task\AdminManageComment\Model\ResourceModel\Item\Grid\Collection</item>
                <item name="task_success_grid_data_source" xsi:type="string">Task\AdminManageComment\Model\ResourceModel\Item\Grid\Collection</item>
                <item name="task_pending_grid_data_source" xsi:type="string">Task\AdminManageComment\Model\ResourceModel\Item\Grid\Collection</item>
                <item name="task_reject_grid_data_source" xsi:type="string">Task\AdminManageComment\Model\ResourceModel\Item\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
