<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources >
            <resource id="Magento_Backend::admin">
                <resource id="Comment_CommentProductModule::config" title="Product Configuration" translate="title" sortOrder="900" />
            </resource>
        </resources>
    </acl>
</config>


