<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <comment>
            <general>
                <product_id>1,2,3,4,5</product_id>
            </general>
        </comment>
    </default>
</config>
