<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="masteringAddItem" xsi:type="object">Mastering\SampleKirilModule\Console\Command\AddItem</item>
            </argument>
        </arguments>
    </type>
    <preference for="Mastering\SampleKirilModule\Api\Data\ItemInterface" type="Mastering\SampleKirilModule\Model\Item"/>
    <preference for="Mastering\SampleKirilModule\Api\ItemRepositoryInterface" type="Mastering\SampleKirilModule\Model\ItemRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mastering_items_grid_data_source" xsi:type="string">Mastering\SampleKirilModule\Model\ResourceModel\Item\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="base_tax_amount" xsi:type="string">sales_order.base_tax_amount</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="MasteringLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">main</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Magento\Framework\Logger\Handler\System</item>
                <item name="debug" xsi:type="object">Mastering\SampleKirilModule\Model\DebugHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Mastering\SampleKirilModule\Console\Command\AddItem">
        <arguments>
            <argument name="logger" xsi:type="object">MasteringLogger</argument>
        </arguments>
    </type>
</config>
