<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Task_AdminCommentManager::first_level_demo" title="Manage comment"
            module="Task_AdminCommentManager"
            sortOrder="20"
            resource="Magento_Backend::content"/>
        <add id="Task_AdminCommentManager::second_level_demo"
             title="Success comments"
            module="Task_AdminCommentManager"
            sortOrder="1"
            action="menuitem/index/index"
            parent="Task_AdminCommentManager::first_level_demo"
            resource="Magento_Backend::content" />
        <add id="Task_AdminCommentManager::third_level_demo"
             title="Pending comments"
             module="Task_AdminCommentManager"
             sortOrder="2"
             action="menuitem/index/index"
             parent="Task_AdminCommentManager::first_level_demo"
             resource="Magento_Backend::content" />
        <add id="Task_AdminCommentManager::fourth_level_demo"
             title="Reject comments"
             module="Task_AdminCommentManager"
             sortOrder="3"
             action="menuitem/index/index"
             parent="Task_AdminCommentManager::first_level_demo"
             resource="Magento_Backend::content" />
    </menu>
</config>
