<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <task>
            <general>
                <module_enable>1</module_enable>
                <success>Отображаем статус на фронте</success>
                <pending>Ожидает аппрува</pending>
                <reject>Отклонен</reject>
            </general>
        </task>
    </default>
</config>
