<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Task\AdvancedCommentManagement\Api\AddCommentAdminInterface" type="Task\AdvancedCommentManagement\Model\AddCommentAdmin"/>
    <preference for="Task\AdvancedCommentManagement\Api\AddCommentAnonInterface" type="Task\AdvancedCommentManagement\Model\AddCommentAnon"/>
</config>
