<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="task_comment_send_email">
        <observer name="task_send_email" instance="Task\ProductCommentModule\Observer\SendEmail" />
    </event>
</config>
