<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Task_AdminManageComment::comment" title="Manage comment"
             module="Task_AdminManageComment"
             sortOrder="20"
             resource="Task_AdminManageComment::comment"/>
        <add id="Task_AdminManageComment::comment_all"
             title="All comments"
             module="Task_AdminManageComment"
             sortOrder="1"
             action="task"
             resource="Task_AdminManageComment::comment_all"
             parent="Task_AdminManageComment::comment"
        />
        <add id="Task_AdminManageComment::comment_success"
             title="Success comments"
             module="Task_AdminManageComment"
             sortOrder="1"
             action="task/success"
             resource="Task_AdminManageComment::comment_success"
             parent="Task_AdminManageComment::comment"
        />
        <add id="Task_AdminManageComment::comment_pending"
             title="Pending comments"
             module="Task_AdminManageComment"
             sortOrder="2"
             action="task/pending"
             parent="Task_AdminManageComment::comment"
             resource="Task_AdminManageComment::comment_pending" />
        <add id="Task_AdminManageComment::comment_reject"
             title="Reject comments"
             module="Task_AdminManageComment"
             sortOrder="3"
             action="task/reject"
             parent="Task_AdminManageComment::comment"
             resource="Task_AdminManageComment::comment_reject" />
    </menu>
</config>
